<launch>
    <param name="resolution" value="0.01" />
    <param name="input_topic" value="/cloud_registered" />
    <param name="detect_duration" value="200" />
    <param name="z_min" value="0.05" />
    <param name="z_max" value="0.5" />
    <node name="test" pkg="localization" type="testPCL" output="screen"/>
</launch>
